@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css?family=Noto+Sans+KR");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("font-awesome/css/font-awesome.min.css");

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */

body {
	background: #f0f4f4;
	color: #5b5b5b;
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Noto Sans KR', 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	word-break: keep-all !important;
}

input, textarea, select {
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color: #483949;
	line-height: 1.5em;
	vertical-align: baseline;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
	border-bottom-color: transparent;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
	font-weight: 600;
}

h1 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 3em;
	font-weight: 600;
	color: #000;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
	margin: 0 0 0.25em 0;
}

strong, b {
	font-weight: 400;
	color: #483949;
}

em, i {
	font-style: italic;
}

/* 	a {
		color: inherit;
		border-bottom: solid 1px rgba(128, 128, 128, 0.15);
		text-decoration: none;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

		a:hover {
			color: #ef8376;
			border-bottom-color: transparent;
		} */
	
p, table {
	margin-bottom: 1em;
}

p {
	text-align: justify;
}

br.clear {
	clear: both;
}

hr {
	position: relative;
	display: block;
	border: 0;
	height: 4px;
	border-top: solid 1px rgba(128, 128, 128, 0.2);
	border-bottom: solid 1px rgba(128, 128, 128, 0.2);
	margin-top: 0rem;
	margin-bottom: 0rem;
}

hr:before, hr:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 1px;
	height: 4px;
	background: rgba(128, 128, 128, 0.2);
}

hr:before {
	left: -1px;
}

hr:after {
	right: -1px;
}


/* Mainpage */
body.mainpage {
	overflow-y: hidden;
}
body.mainpage #header {
	height: 60vh;
}
body.mainpage #header:after {
	content: '';
	background: #1C0920;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-transition: opacity 2.5s ease-in-out;
	-webkit-transition: opacity 2.5s ease-in-out;
	-ms-transition: opacity 2.5s ease-in-out;
	transition: opacity 2.5s ease-in-out;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
	
#header {
	position: relative;
	color: #000;
	padding: 2em 0;
}
	
.mainpage #header {
	position: relative;
	color: #fff;
	text-align: center;
	padding: 2em 0 2em 0;
	cursor: default;
}
	
.mainpage #header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.mainpage #header .inner {
	position: relative;
	z-index: 1;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

.mainpage #header header {
	display: inline-block;
}

.mainpage #header header > p {
	font-size: 1em;
	margin: 0;
}

/* navigation buttons */
body div.button-wrapper {
	width: 100px !important;
	height: 100vh;
	position: absolute !important;
	right:0;
	top:0;
	float: right !important;
	z-index: 99 !important;
}

div.navbtn {
	height: 100px !important;
	width: 100px !important;
	background-color: inherit;
}
div.top-btn {
	position: absolute !important;
	 top:0; right:0;
}
div.middle-btn {
	position: absolute !important;
	 top:45%; right:0;
}
div.bottom-btn {
	position: absolute !important;
	 bottom:0; right:0;
}
a.block {
	display: inline-block !important;
	width: 100% !important;
	height: 100% !important;
	border: 0px !important;

}

/* Content */

.content {
	text-align: center;
	margin-top: 1em;
}

.content h2 {
	color: black;
	font-weight: 500;
}

/* Image */

.image {
	position: relative;
	display: inline-block;
	border: 0;
	outline: 0;
	margin: 0.5rem auto;
}

.image.fit {
	display: block;
	width: 100%;
}

.image.small {
	display: block;
	width: 40%;
}


/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	position: relative;
	display: inline-block;
	background: #df7366;
	color: #fff;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	padding: 0.65em 1.5em 0.65em 1.5em;
	border: 0;
	cursor: pointer;
	outline: 0;
	font-weight: 300;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	color: #df7366;
	background: #c9c9c9;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
	background: #2B252C;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
	background: #3B353C;
}

.cancel {
background: #c0c0c0 !important;
}


/* Footer */

footer {
	margin: 2em 0 0 0;
}

footer .button {
	display: inline-block;
	border-radius: 100%;
	width: 4em;
	height: 4em;
	line-height: 4em;
	text-align: center;
	font-size: 1.25em;
	padding: 0;
}

/* Onboard */

body.onboard {
	overflow-y: hidden;
}
body.onboard #page-wrapper {
		padding: 1.5em 2em;
}

body.onboard #header {
	height: 60vh;
	min-height: 30em;
}

body.onboard #header:after {
	content: '';
	background: #1C0920;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-transition: opacity 2.5s ease-in-out;
	-webkit-transition: opacity 2.5s ease-in-out;
	-ms-transition: opacity 2.5s ease-in-out;
	transition: opacity 2.5s ease-in-out;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

	
.onboard #header {
	position: relative;
	color: #fff;
	text-align: center;
	padding: 2em 0 2em 0;
	cursor: default;
}
	
.onboard #header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.onboard #header .inner {
	position: relative;
	z-index: 1;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

.onboard #header header {
	display: inline-block;
}

.onboard #header header > p {
	font-size: 1em;
	margin: 0;
}

.onboard h3 > a {
	font-size: 0.5em;
	line-height: 1em;
	float: right !important;
}

.onboard .left {
	float: left;
	margin-right: 20px;
}


/* Guide Box */
.guide-box {
	margin-top: 50px;

}
.guide-box a {
	text-decoration: none;

	}
.guide-box p {
	font-size: 2em;
	line-height: 1.4em;
	margin-bottom: 0em;
}
.guide-box p.change {
	font-size: 1.6em;
	line-height: 1.4em;
	
}

/* Button Box */

.button-box {
position: relative;}
.button-left {
position:absolute; top:0; left: 0; 
}
.button-right {
position:absolute; top:0; right: 0;
}

/* summary */
div.summary {
	margin: 1em 0;
	padding: 1em 1.5em;
	border: solid 1px #749a9a;
	background-color: #d1dede;
}
div.summary h4 {
	color: #5a7c7c;
	font-weight: 300;
}

div.summary p {
	color: #000;
	font-size: 1.25em;
	line-height: 2em;
	margin-bottom: 0px;
}

div.summary p .value {
	font-weight: 600;
}

/* sound */
.soundplay {
	width:0;
	height:0;
}

/* Map */
.map {
	width: 270px;
}